<div class="row">
  <h2 class="text-center">Please take not of your order confirmation number</h2>
  <p class="text-center">
    Upon delivery or pickup of your order, you will need to present this confirmation number as a means of order verification.
    Once you leave this page you will no longer be able to return so ensure that you have accurately taken not of your order
    confirmation number.
  </p>
  <br><br>
  <div class="col-md-7 center-block">
    <div class="col-box text-center">
      <h2>Confirmation Number: <%= @order.confirmation_code %></h2>
    </div>
  </div>
</div>