<div class="row">
  <div class="col-md-12 text-center">
    <h2><span class="text-bb">Add Drinks That <%= @restaurant.name %> Offers</span></h2>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-md-5 center-block">
    <%= simple_form_for [:admin, @restaurant, @common_drink] do |f| %>
        <%= f.text_field :drink_tokens %>
        <br>
        <br>
        <%= f.button :submit, "Add Drinks", class: "btn btn-success btn-lg btn-block" %>
    <% end %>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function () {
        $("#common_drink_drink_tokens").tokenInput('/admin/drinks.json',
            {theme: 'bootstrap', preventDuplicates: true, tokenLimit: 1});
    });
</script>