<div class="nested-fields">
  <%= f.input :name, input_html: {class: "input-lg"}, label_html: {class: 'lb-lg'} %>
  <%= f.input :price, input_html: {class: "input-lg"}, label_html: {class: 'lb-lg'} %>
  <%= link_to_remove_association "Remove", f, class: "btn btn-danger btn-lg" %>
</div>
