<li class="sidebar-brand">
  <%= link_to "Dashboard", seller_dashboard_path %>
</li>
<li>
  <%= link_to "Order Archives", admin_order_archives_path %>
</li>
<li>
  <%= link_to "Account Settings", admin_orders_path %>
</li>
<li>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</li>