<br>
<div class="row">
  <div class="col-md-8 center-block">
    <h1 class="title">
      <span class="text-bb">Pending Orders (<span data-behavior="pending-orders-count"><%= @order_fragments.count %></span>)</span>
    </h1>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-8 center-block">
    <div>
      <ul data-behavior='seller-orders' data-restaurant-id='<%= @current_restaurant.id %>' class="seller-orders">
        <% @order_fragments.each do |order_fragment| %>
            <!-- OrderFragment partial !-->
            <%= render order_fragment %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
