<div class="row">
  <div class="col-md-6">
    <h2 class="remove-margin">Restaurants</h2>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to "Add New Restaurant", new_admin_restaurant_path, class: "btn btn-success" %>
  </div>
</div>