<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-title"><span class="text-bb">About foodrder.bz</span></h1>
    <h3>More than just an ecommerce site for food</h3>
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="col-md-12">
    <p class="p-md">
      foodrder.bz makes it dead simple for busy people to get something to eat. That said, such
      a
      concise
      description doesn't give foodrder enough credit. That's because we're more than just an ecommerce site for
      food; we're also
      a food agency that aims to satisfy the needs of people looking to get something to eat and restaurant owners
      looking
      for a more modern
      and easier way to cater their food. foodrder.bz gives restaurants and it's food a solid ecommerce presence that
      makes it easy for customers
      to make orders and restaurants to receive those orders verified and accurate all in a timely manner.
    </p>
  </div>
</div>

<br><br><br><br>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-title"><span class="text-bb">Order your food with foodrder.bz</span></h1>
    <h3>No extra added price, but that's not all!</h3>
  </div>
  <div class="col-md-12">
    <br><br><br>
    <p class="p-md">Imagine being able to order food in an orderly and easy fashion without ever having to call or send a text
      message. Imagine
      having a single location that lists all local restaurants and foods that are within your scope of address.
      Think about how awesome it would be to eliminate tedious waiting at restaurants for order pickups or
      for merely placing an order
      at your favorite restaurant.</p>
    <br>
    <div class="content-bg text-center">
      <p class="p-md">foodrder.bz satisfies all of the above with no add-on price. That's right, you get access
        to the entirety of foodrder.bz with no additional fee.</p>
    </div>
  </div>
</div>

<br><br><br><br>

<div class="row">
  <div class="col-md-12 text-right">
    <h1><span class="text-bb">The future of restaurants in Belize</span></h1>
  </div>
  <div class="col-md-12">
    <br><br><br>
    <p class="p-md"><span class="text-positive">Search, Order...Eat</span> - <span class="p-md">That's literally all
      you have to do, so why not get started today and order your first food?
    Be careful though, because you may never go back to the old ways of ordering food.</span></p>
  </div>
</div>