<div class="row">
  <div class="col-md-12">
    <ul class="categories">
      <% Tag.limit(20).each do |tag| %>
        <li><%= link_to tag.name, foods_path(mc: tag.name) %></li>
      <% end %>
    </ul>
  </div>
</div>

<br><br>

<div class="latest-foods">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-title title-sb"><span class="text-bb">Latest Foods</span></h2>
    </div>
  </div>
  <div class="row grid">
    <!-- add sizing element for columnWidth -->
    <div class="grid-sizer col-md-4"></div>
    <%= render @foods %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-title title-sb"><span class="text-bb">Featured Restaurants</span></h2>
  </div>
  <div class="col-md-12">
    <div class="row">
      <%= render @restaurants %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('.grid').isotope({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        percentPosition: true,
        masonry: {
            columnWidth: '.grid-sizer'
        }
    });
</script>
