<div class="row">
  <div class="col-md-12">
    <h2>Trending</h2><br>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-12">
    <h2>Recently Ordered</h2><br>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
  <div class="col-md-4">
    <img src="http://www.seriouseats.com/images/2015/07/20150728-homemade-whopper-food-lab-35.jpg" alt="" class="img-responsive">
    <h3>Cheese Burger</h3>
  </div>
</div>