<div class="row">
  <div class="col-md-12">
    <h2 class="text-title"><span class="text-bb">Learn How foodrder Works</span></h2>
  </div>
</div>
<br><br><br>

<p class="p-md">
  The primary goal of foodrder.bz is to make it dead simple for busy people to get something to eat. That said, such a
  concise
  description doesn't give foodrder enough credit. That's because we're more than just an online ecommerce site for food; we're also
  a food agency that aims to satisfy the needs of people looking to get something to eat and restaurant owners looking for a more modern
  and easier way to cater their food. foodrder.bz gives restaurants and it's food a solid online ecommerce presence that makes it easy for customers
  to make orders and restaurants to receive those orders verified, accurate, and in a timely manner.
</p>