<div class="row">
  <div class="col-md-12">
    <h1><span class="text-bb">The future of ordering food in Belize is here!</span></h1><br>
    <h3 class="remove-margin text-muted">Find the best food from the best restaurants all in one place!</h3>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-strong">1. No More Texting Or Calling To Order Food</h3>
    <br>
  </div>
  <div class="col-md-12">
    <p class="p-md">
      Start ordering with foodrder.bz and you'll never go back to the old ways of ordering food.
      Order through us and you'll be able to quickly get great food by mere clicks of buttons.
      That's right, you'll never have to be calling or texting your favorite restaurant or new ones
      just to place your order. Ordering with us will save you time and since you won't have to
      be waisting your credits, you'll also be saving money.
    </p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-strong">2. Order From Multiple Restaurants In One Go</h3><br><br>
    <p class="p-md">
      With foodrder.bz you are able to order from across multiple restaurants as opposed to just one.
      Our versatile ordering system gives you the ability to decide if you prefer delivery or pickup
      from each restaurant you are ordering from. This feature shines when you are ordering for not only yourself, but
      perhaps for your co-workers as well; foodrder.bz makes it dead simple for instances just like this in which a
      single
      order can span across different restaurants to suite the appetite of those you are ordering for. foodrder.bz is
      the ideal food
      ordering solution for staff members.
    </p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-strong">3. No More Waiting In Line!</h3>
    <br>
  </div>
  <div class="col-md-12">
    <p class="p-md">
      Whenever you order from restaurants that don't offer delivery we will
      automatically send you a text message when, and only when, your
      order is fully ready for pickup. Order with us and you won't ever have
      to waste your valuable time on standing in a lengthy line just to place
      your order, and then wait even longer while your food is being cooked.
      Order with us and get notified realtime via text message when your order is fully ready for pickup.
    </p>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <h1><span class="text-bb">Order With Us Today....It's Free!</span></h1>
    <br>
    <h3 class="text-muted remove-margin">There are no add-on charges whatsoever. Food prices are the same
      on and off foodrder.bz.
      <br><br><br>
      <%= link_to "Show Foods", foods_path, class: "btn btn-primary btn-lg btn-gb btn-xl" %>
      <%= link_to "Show Restaurants", restaurants_path, class: "btn btn-primary btn-lg btn-gb btn-xl" %>
    </h3>
  </div>
</div>