<div class="row">
  <div class="col-md-6">
    <h3 class="remove-margin">(501) 608-2077</h3>
  </div>
  <div class="col-md-6 text-right">
    <h3 class="remove-margin">luisrodge@outlook.com</h3>
  </div>
</div>

<hr>
<br>

<div class="row">
  <div class="col-md-12">
    <h1><span class="text-bb title">Affordable ordering solution for restaurants!</span></h1><br>
    <h3 class="remove-margin text-muted">Cater your food in a more modern & influential way!</h3>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-12">
    <h2 class="title">1. No Need For A Website. List All Your Foods On foodrder.bz</h2>
    <br>
  </div>
  <div class="col-md-12">
    <p class="p-md">
      Websites are cool and all but if you're in the food business, your customers will expect a lot more than
      just an online textual presentation of your menus. By listing your restaurant on foodrder.bz
      all your foods will immediately become order-enabled. We will equip your restaurant with a
      powerful ordering system that will allow you to cater your food like never before.
      Through us, you'll save and earn more as opposed to investing in an entire, presentational only, website for your
      restaurant.
    </p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-12">
    <h2 class="title">2. Powerful & Easy To Use Ordering System</h2>
    <br><br>
    <div class="row">
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <h4>Customer orders food from your listed restaurant</h4>
        </div>
      </div>
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          <h4>You get notified of new orders via text message</h4>
        </div>
      </div>
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-chrome" aria-hidden="true"></i>
          <h4>View and manage orders easily online</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p class="p-md">
          With your restaurant listed on foodrder.bz people will immediately be able to order from your restaurant.
          Our intuitive ordering system allows your customers, and potential customers, to easily order your food
          without requiring you to have internet access. This is because when you list your restaurant on foodrder.bz
          you will automatically receive new order notices via text message.
          Our ordering system and order processing procedures ensure that the accuracy of
          new orders will always be on point.
        </p>
        <p class="p-md">
          Our ordering system allows customers to perform vital actions such as increase/decrease
          food quantity, order customization such us food variants and additions. Customers can also
          decide whether they would like delivery or pickup.
          All in all, foodrder.bz
          is the ideal solution for customers that are looking for a more modern an easier way to order food; and all
          you
          ever have to worry about is cooking great food.
        </p>
      </div>
    </div>
    <br><br>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12">
    <h1 class="title"><span class="text-bb">Join foodrder.bz & see your audience grow!</span></h1>
    <br>
    <h3 class="text-muted remove-margin">You
      have absolutely nothing to loose and soo much to gain. <br/>Join the future or ordering food in Belize Today!
      <br><br><br>
      <%= link_to "Add Your Restaurant", new_restaurant_request_path, class: "btn btn-primary btn-lg btn-gb" %>
    </h3>
  </div>
</div>