<div class="row">
  <div class="col-md-12">
    <h1><span class="text-bb">Affordable e-commerce solution for restaurants!</span></h1><br>
    <h3 class="remove-margin text-muted">Cater your food in a modern and more reachable way!</h3>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-strong">1. No Need For A Website. List All Your Foods On foodrder.bz</h3>
    <br>
  </div>
  <div class="col-md-12">
    <p class="p-md">
      Websites are cool and all but if you're in the food business, your customers will expect a lot more than
      just an online textual presentation of your menus. By listing your restaurant on foodrder.bz
      all your foods will immediately be, as we call it, e-commercified. We will equip your restaurant with a
      powerful ordering system that will allow you to cater your food like never before. Also, our pay as your grow
      payment options makes it even more practical for restaurants of different sizes. <span class="text-strong">
        Through us, you'll save and earn more as opposed to investing in an entire website for your restaurant.</span>
    </p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-strong">2. Powerful Ordering System Backed By <span class="text-bb">foodrder Insiders</span></h3>
    <br><br>
    <div class="row">
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <h4>Customer orders food from your listed restaurant</h4>
        </div>
      </div>
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <h4>You get notified of new order details via phone call</h4>
        </div>
      </div>
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          <h4>Or receive automatic text messages containing order details</h4>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p class="p-md">
          With your restaurant listed on foodrder.bz people will immediately be able to order from your restaurant.
          Our intuitive ordering system allows your customers, and potential customers, to easily order your food
          without requiring you to have internet access. This is because when you list your restaurant on foodrder.bz
          you have two options of receiving new order notices: automatic text messages using our sms gateway or by way
          of
          phone
          call by one of our insiders. Our ordering system and order processing procedures ensure that the accuracy of
          new
          orders will always be on point.
        </p>
        <p class="p-md">
          Our ordering system allows customers to perform vital actions such as increase/decrease
          food quantity or decide whether they would prefer delivery or pickup.
          <span class="text-strong">All in all, foodrder.bz
      is the ideal solution for customers that are looking for a more modern an easier way to order food; and all you
      ever have to worry about is cooking great food.</span>
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-4 col-sb">
        <div class="col-box-bg text-center fa-wrapper">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h4>Our food insiders are here for you</h4>
        </div>
      </div>
      <div class="col-md-8">
        <p class="p-md">
          We're more than just an internet company, we're a people company that enjoys
          forming new relationships and strengthen existing ones. Our insiders will
          always be here to support you with any concern that you may have. <span class="text-strong">We love
          what we do and it's also worth mentioning that we're also lovers of good food!</span>
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<hr>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <h1><span class="text-bb">Join foodrder.bz & see your audience grow!</span></h1>
    <br>
    <h3 class="text-muted remove-margin">Our pay as you grow payment options starts out free. You
      have absolutely nothing to loose and soo much to gain.
      <br><br><br>
      <%= link_to "Add Your Restaurant", new_restaurant_request_path, class: "btn btn-primary btn-lg btn-gb" %>
    </h3>
  </div>
</div>