<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>You have a new order.</h2>
<p>A new order has just placed. Please proceed to process the confirm the order
  and inform the restaurant of the new order.</p>
</body>
</html>