<div class="row">
  <div class="col-md-9">
    <h2 class="text-title remove-margin"><span class="text-bb">Latest Restaurants</span></h2>
    <br><br><br>
  </div>
  <div class="col-md-2 sm-3 col-xs-4 text-right col-xl-sb pull-right col-xs-sb">
    <div class="dropdown generic-dropdown">
      <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">Sort By
        <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="text-center"><%= link_to "Offer Delivery", restaurants_path(sort: "delivery") %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <%= render @restaurants %>
</div>
