.col-box {
  border: 1px solid #f7f7f7;
  padding: 18px;
}

.col-box-xp {
  padding: 44px 18px;
}

.col-box.col-box-db {
  border: 1px solid #CCC;
}

.col-sb {
  margin-bottom: 34px;
}

.col-box-bg {
  background: #F7F7F7;
}


.center-block {
  float: none;
}

