body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #424242;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #33AB3B;
}

/* Loading Image Wrapper */
.image-medium-wrapper {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 73.333333333%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

/* Primary Header */
header {
  margin-bottom: 40px;
}

.top-header {
  background: #71BA51;
  color: #FFF;
  .container {
    padding-bottom: 12px;
  }
  .top-header-col-1 {
    padding-top: 8px;
  }
  .logo {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 34px;
    a:focus, a:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
  .slogan {
    color: #EBEBEB;
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin-top: -7px;
  }
  .top-header-col-2 {
    padding-top: 13px;
    /* Search */
    input {
      border-radius: 0px !important;
    }
    .stylish-input-group .input-group-addon {
      background: #F7F7F7 !important;
      border: none !important;
    }

    .input-group-addon {
      border-radius: 0px;
    }

    .stylish-input-group .form-control {
      border-right: 0 !important;
      box-shadow: 0 0 0 !important;
      border-color: #ccc;
    }
    .stylish-input-group button {
      border: 0 !important;
      background: transparent !important;
    }
  }
  .top-header-col-3 {
    padding-top: 14px;
  }
}

.minimal-navbar {
  margin-bottom: 60px;
  background: #3B3B3B;
  .navbar-brand {
    font-size: 40px !important;
    font-weight: bold;
    color: #71BA51;
    &:hover, &:focus {
      color: #71BA51;
    }
  }

  .navbar-brand,
  .navbar-nav li a {
    line-height: 64px;
    height: 64px;
    padding-top: 0;
  }

}

.minimal-navbar .navbar-nav li a {
  color: #FFF;
  font-size: 18px;
  &:hover, &:focus {
    color: #71BA51;
  }
}

a.navbar-brand.minimal-navbar-brand {
}

.application-navbar {
  margin-bottom: 40px;
}

.heading-wrapper-sb {
  margin-bottom: 60px;
}

.heading-wrapper {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

.primary-link {
  color: #71BA51!important;
  &:hover, &:focus {
    color: #8BC272 !important;
  }
}

.generic-dropdown {
  .dropdown-menu {
  }
}

.cart_fragment-wrapper {
  .cart-fragment-header {
    padding-bottom: 34px;
    .delivery-cb-wrapper {
      input[type="checkbox"] {
        bottom: -1px;
      }
      .checkbox-text {
        font-size: 24px;
      }
    }
  }
  .cart-fragment {
    margin-bottom: 60px;
    border: 1px solid #CCC;
    padding: 34px 20px;

  }

}

.cart-item {
  margin-bottom: 60px;
  border: 1px solid #CCC;
  padding: 34px 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cart-drink {
  border-radius: 4px;
  background: #F7F7F7;
  margin-top: 15px;
  padding: 18px;
}

.fa-wrapper {
  padding: 30px 10px;
  i {
    font-size: 38px;
    color: #71BA51;
    padding-bottom: 10px;
  }
}

.content-bg {
  background: #f7f7f7;
  padding: 20px;
}

li.mobile-link {
  display: none;
}

/* Main Body Content Container */
.container.main-content-container {
  flex: 1;
}

.food-wrapper {
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 20px;
  &:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

#variants {
  border: 1px solid #CCC;
  margin: 40px 0;
  padding: 22px 16px;
  .variant-title {
    padding-bottom: 48px;
  }
  .nested-fields {
    margin-bottom: 40px;
    border-bottom: 4px dashed #f7f7f7;
    padding-bottom: 30px;
    &:last-of-type {
      border: none;
    }
  }
}

.nested-form-wrapper {
  border: 1px solid #CCC;
  margin: 40px 0;
  padding: 22px 16px;
  .nested-form-title {
    padding-bottom: 48px;
  }
  .nested-fields {
    margin-bottom: 40px;
    border-bottom: 4px dashed #f7f7f7;
    padding-bottom: 30px;
    &:last-of-type {
      border: none;
    }
  }
}

/* Restaurant show view */
.restaurant-name-address {
  margin-bottom: 36px;
  h2 {
    margin: 0 0 13px 0;
  }
  h3 {
    margin: 0;
  }
}

.restaurant-other-information {
  padding: 20px;
  background-color: #F7F7F7;
  h3 {
    margin: 0;
    line-height: 1.5em;
  }
}

ul.categories {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 8px;
    background: #f7f7f7;
    margin: 0 2px 5px 0;
  }
}

.subscribe-wrapper {
  border: 1px solid #CCC;
  padding: 30px 20px;
}

.home-subscribe {
  margin-top: 80px;
  margin-bottom: 30px;
}

footer {
  margin-top: 100px;
  border-top: 2px solid #39CA55;
  padding: 20px 0;
  background: #3B3B3B;
  color: #FFF;
  p {
    margin: 0;
    padding-bottom: 16px;
    font-size: 18px;
    color: #39CA55;
  }
  .cr-text {
    padding-bottom: 0;
  }
  .cr-sub-text {
    color: #FFF;
    font-size: 16px;
    padding-top: 2px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding-top: 10px;
    }
  }
}

ul.token-input-list-bootstrap {
  padding: 7px 0;
  box-shadow: none !important;
  border: 1px solid #EDEDED !important;
  border-radius: 3px !important;
  input {
    border: none !important;
  }
}

li.token-input-token-bootstrap p {
  font-size: 15px;
}

.order-frag-wrapper {
  padding: 70px 0;
  border-bottom: 2px dashed #CCC;
  &:first-of-type {
    padding-top: 40px;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

/* Dashboard styles */
#dashboard-wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #383838;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#dashboard-wrapper.active {
  padding-left: 0;
}

#dashboard-wrapper.active #sidebar-wrapper {
  left: 0;
}

div#sidebar-wrapper.active {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #FFF;
  display: block;
  text-decoration: none;
  padding-left: 35px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #FFF;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
  margin-bottom: 10px;
  #home {
    font-family: 'Roboto', sans-serif;
    color: #39CA55;
    font-weight: bold;
    a:focus {
      color: #39CA55;
    }
  }
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

/* Dashboard Responsive Styles */
@media (max-width: 767px) {

  #dashboard-wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #dashboard-wrapper.active {
    position: relative;
    left: 250px;
  }

  #dashboard-wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}







