body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #424242;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Loading Image Wrapper */
.image-medium-wrapper {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 73.333333333%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.image-wrapper {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 66.593406593%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

/* Primary Header */
header {
  margin-bottom: 40px;
}

.top-header {
  background: #383838;
  color: #FFF;
  padding: 20px 0;
  h3 {
    font-size: 22px;
  }
  .logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    a:focus {
      color: #FFF;
      text-decoration: none;
    }
  }
  .slogan {
    color: #71BA51;
    display: block;
    font-size: 23px;
    font-weight: normal;
    margin-top: -6px;
  }
  .top-header-col-2 {
    /* Search */
    input {
      border-radius: 0px !important;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
    .stylish-input-group .input-group-addon {
      background: white !important;
      border: none !important;
    }

    .input-group-addon {
      border-radius: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .stylish-input-group .form-control {
      border-right: 0 !important;
      box-shadow: 0 0 0 !important;
      border-color: #ccc;
    }
    .stylish-input-group button {
      border: 0 !important;
      background: transparent !important;
    }
  }
  .top-header-col-3 {

  }
}

.cart_fragment-wrapper {
  margin-bottom: 40px;
}

.content-bg {
  background: #f7f7f7;
  padding: 20px;
}

/* Main Body Content Container */
.container.main-content-container {
  flex: 1;
}

/* Restaurant show view */
.restaurant-name-address {
  margin-bottom: 36px;
  h2 {
    margin: 0 0 13px 0;
  }
  h3 {
    margin: 0;
  }
}

.restaurant-other-information {
  padding: 20px;
  background-color: #F7F7F7;
  h3 {
    margin: 0;
    line-height: 1.5em;
  }
}

.delivery-cb-wrapper {
  padding-top: 26px;

}

ul.categories {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 8px;
    background: #f7f7f7;
    margin: 0 2px 5px 0;
  }
}

.subscribe-wrapper {
  background: #f7f7f7;
  padding: 40px 20px;
}

.home-subscribe {
  margin-top: 80px;
  margin-bottom: 30px;
}

footer {
  margin-top: 100px;
  border-top: 2px solid #39CA55;
  padding: 20px 0;
  background: #3B3B3B;
  color: #FFF;
  p {
    margin: 0;
    padding-bottom: 16px;
    font-size: 18px;
    color: #39CA55;
  }
  .cr-text {
    padding-bottom: 0;
  }
  .cr-sub-text {
    color: #FFF;
    font-size: 16px;
    padding-top: 2px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding-top: 10px;
    }
  }
}

ul.token-input-list-bootstrap {
  padding: 7px 0;
  box-shadow: none !important;
  border: 1px solid #EDEDED !important;
  border-radius: 3px !important;
  input {
    border: none!important;
  }
}

li.token-input-token-bootstrap p {
  font-size: 15px;
}

/* Dashboard styles */
#dashboard-wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #71BA51;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#dashboard-wrapper.active {
  padding-left: 0;
}

#dashboard-wrapper.active #sidebar-wrapper {
  left: 0;
}

div#sidebar-wrapper.active {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #FFF;
  display: block;
  text-decoration: none;
  padding-left: 35px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #FFF;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
  #home {
    font-weight: bold;
  }
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

@media (max-width: 767px) {

  #dashboard-wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #dashboard-wrapper.active {
    position: relative;
    left: 250px;
  }

  #dashboard-wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}






