@import "bootstrap-sprockets";
@import "bootstrap";
@import "token-input-bootstrap3";
@import "font-awesome";
@import "fonts";
@import "colors";
@import "overrides/bootstrap";
@import "overrides/general";
@import "components/labels";
@import "components/columns";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #424242;
  background: #f7f7f7;
}

header {
  background: #383838;
  color: #FFF;
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #3ACA55;
  .order-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
  }
  .order-slogan {
    font-family: 'Montserrat', sans-serif;
    display:block;
    font-size: 28px;
    font-weight: normal;
  }
}

.crumbs {
  margin-bottom: 50px;
}

.caption-wrapper {
  position: relative;
  .caption {
    position: absolute;
    width: 100%;
    background-color: #383838;
    bottom:0;
    text-align: center;
    color: #FFF;
    padding: 4px 10px;
  }
}


.col-order-box {
  background: #FFF;
  padding: 20px;
  border:1px solid #EDEDED;
}

footer {
  margin-top: 60px;
}
