<div class="row">
  <div class="col-md-4">
    <%= link_to admin_restaurants_path do %>
        <div class="col-box">
          <h2>Restaurants</h2>
          <p>Overview of all restaurants</p>
        </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to admin_orders_path do %>
      <div class="col-box">
        <h2>Orders (<%= Order.count %>)</h2>
        <p>Overview of all orders</p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="col-box">
      <h2>Users</h2>
      <p>Overview of all restaurants</p>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="col-box">
      <h2>Restaurant Requests</h2>
      <p>Overview of all restaurants</p>
    </div>
  </div>
</div>
<br><br>
<hr>
<div class="row">
  <div class="col-md-12">
    <h2>Recent Orders</h2>
  </div>
</div>