<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <p>Discover</p>
        <ul>
          <li><%= link_to "Local Foods", foods_path %></li>
          <li><%= link_to "Local Restaurants", restaurants_path %></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>Why Use foodrder</p>
        <ul>
          <li><%= link_to "For Ordering Food", order_food_path %></li>
          <li><%= link_to "For Your Restaurant", restaurant_info_path %></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <p class="cr-text">&copy; Copyright foodrder 2017</p>
        <p class="cr-sub-text">Proudly made in Belize</p>
      </div>
    </div>
  </div>
</footer>