<nav class="site-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li><%= link_to "Restaurants", "#" %></a></li>
          <li><a href="#">Foods</a></li>
          <li><a href=""#>Request Food</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <ul>
          <li>
            <%= link_to "#" do %>
                <i class="glyphicon glyphicon-shopping-cart"> Orders (0)</i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>